@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #000000;
  display: flex;
}

.chatbot-icon {
  font-size: 127px;
  color: #f5821f;
  position: fixed;
  right: 46px;
  bottom: 37px;
  cursor: pointer;
}
.chatbot-container {
  display: none;
  position: fixed;
  right: 13px;
  bottom: 22px;

  width: 416px;
  height: 629px;

  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
}
.header-part {
  display: none;
  width: 416px;
  height: 278px;
  border-radius: 18px 18px 0px 0px;
  background: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
  color: #ffffff;
}
h1 {
  width: 53px;

  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}

.second-heading {
  width: 90px;
  height: 29px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  justify-content: space-between;
  display: flex;
}
.header-content {
  display: none;
  /* display: flex; */
  flex-direction: column;
  padding-left: 67px;
  padding-top: 28px;
  justify-content: space-between;
  height: 125px;
}
p {
  width: 228px;
  height: 46px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.question-section {
  position: absolute;
  width: 390px;
  align-items: center;
  height: 400px;
  justify-content: center;
  left: 13px;
  top: 201px;

  /* display: flex; */
  display: none;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 5%);
  border-radius: 8px;
}
.bot-icon-part {
  position: absolute;
  width: 67px;
  height: 67px;
  left: 38px;
  top: 165px;
  background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  justify-content: center;
  width: 3p;
  align-items: center;
  display: none;
}

.question-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 264px;
  justify-content: space-around;
  margin-top: 16px;
  visibility: hidden;
}
.question-box-1,
.question-box-2,
.question-box-3,
.question-box-4 {
  width: 339px;
  height: 50px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  opacity: 0;
  display: flex;
  align-items: center;
  padding-left: 4px;
}
.question {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #2d2d2d;
  margin-left: 5px;
}
.button {
  align-items: center;
  width: 268px;
  height: 44px;
  display: flex;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 10%);
  border-radius: 100px;
  margin-top: 29px;
  justify-content: center;
}
.content-title {
  width: 334px;
  height: 18px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
}
.button-text {
  width: 168px;
  height: 18px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-left: 6px;
  color: #2d2d2d;
}

.button {
  opacity: 0;
}
.question-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin-top: 13px;
}

@media only screen and (max-width: 425px) {
  .chatbot-container {
    right: 1px;
    width: 326px;
    height: 567px;
    bottom: 0px;
  }
  .question-box {
    width: 268px;
    height: 225px;

  }
  .question{
    font-size: 11px;

  }
  .question-section {
    width: 301px;
    height: 365px;
    top: 189px;
  }
  .button {
    width: 241px;
    height: 40px;
  }
  .button-text {
    width: 164px;
    height: 17px;
  }
  .header-part {
    width:326px;
  }
  .header-content{
    padding-top:28px;
    height:115px;

  }
  .bot-icon-part{
    top: 158px;

  }
  .question-box-1,
  .question-box-2,
  .question-box-3,
  .question-box-4 {
    width: 273px;
    padding-left: 6px;
    height: 45px;


  }
  .chatbot-icon {
    font-size: 92px;
  }
}
